/*************************************************
*	Corpo, links e cabeçalhos  *
*************************************************/
header img { /*imagem do cabeçalho*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
 border: 5px solid pink;
}

body {
    background-color: rgb(80, 32, 42);
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

li {
    margin:0 auto; /* centralizar*/
} 

a { /* link normal*/
    color:rgb(187, 48, 106);
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.25s;
}

a:hover { /*link selecionado*/
    color:rgb(146, 61, 87);
    -webkit-transition: all 0.25s;
}



h1{
    color: palevioletred;
    text-shadow: 2px 2px rgb(100, 47, 65); 
}

h2{
    text-shadow: 2px 2px rgb(70, 70, 70);
}

.center{
    text-align: center;
}
                               
nav a.botao {
    margin-left: 25px;
}

nav a:hover{
    color:rgb(160, 160, 160);
    -webkit-transition: all 0.25s;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}


/*************************************************
*	Formulário de Resposta - parte de contato  *
*************************************************/

form {
    text-align: center; 
    display: table-row;
    line-height: 170%;
    margin-top: 0.5em;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 0 1em 0.4em 0.4em;
}

input[type=text], input[type=email], textarea {
     font: 1em sans-serif; /*tiramos a serifa do formulário também */
     width: 250px;
     font-size: 15px; /* tamanho da fonte*/
     box-sizing:border-box;
     border: 1px dotted #999; /*borda em volta das áreas*/
}

textarea {
    vertical-align: top;
    height: 8em;
    resize: vertical;
    max-height: 14em;
}

input[type=submit]{ 
       margin-left: 9em; /*espaço entre label e campo*/
       padding-top:.1em;
}


input:focus, textarea:focus { /*focar áreas quando estiverem ativas*/
    border-color: rgb(129, 14, 71);
}


.metade {
    width: 60%;
    height: 300px; /* altura da caixa*/
    display: flex;
    line-height: 150%;
    padding: 0px 100px;
    margin: 0 auto;
}

.metade img {
    width: 40px;
  
}


.informacoes {
    width: 300px;
    text-align: center;
}


/*************************************************
*	Rodapé  *
*************************************************/
footer img { /*imagem do rodapé */
    width: 40px;
    height: 40px;
}

footer{
    display: flex; /* para deixar um do lado do outro*/
    justify-content: center;
    /*background-color: rgb(78, 28, 43); */
}


footercontato{
    display:block; /* para deixar um do lado do outro*/

    /*background-color: rgb(78, 28, 43); */
}


footer a{
    margin: 20px; /*0 auto é onde fica centralizado também*/
    text-align: center;
}

footer p{
   text-align: center;
   margin-top: 2px;
    
}

.container {
    padding: 0px 50px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.botao {
    background-color: rgb(192, 91, 125);
    color:rgb(204, 204, 204);
    padding: 12px 30px;
    border-radius: 30px;
}

.botao:hover{
    background-color: rgb(170, 65, 100);
    color:rgb(204, 204, 204);
    padding: 12px 30px;
    border-radius: 30px;
}





/*************************************************
*	Bloco de frase - Blockquote  *
*************************************************/

    blockquote  {
        font-size: 1.4em;
        width: 75%;
        margin: 50px auto;
        font-family: Droid sans-serif;
        font-style: italic;
        color: rgba(243, 159, 187, 0.719)
        padding: 0em 10px 0em 55px;
        border-left: none;
        line-height: 1.2;
        position: relative;
        background:none;
                }
    
      blockquote:before { /* o que vem antes do blockquote, o comma */
        content: "\201C"; /*Unicode for Left Double Quote*/
        /*Font*/
        font-family: Droid sans-serif;
        font-size: 80px;
        font-weight: bold;
        color: rgb(192, 91, 125);
        /*Positioning*/
        position:absolute;
        left: -50px;
        top: -15px;   }

        /*citação do blockquote*/
        blockquote citacao {
            color: #999999;
            font-size: 14px;
            display: block;
            margin-top: 5px;
            }

            blockquote citacao:before {
                content: "\2014 \2009";
            }
/*************************************************
*	Responsivo  modo Celular  *
*************************************************/

@media only screen and (max-width: 767px) {	
	.container  {
		width:320px;
        margin-left: 0px;
    }
	
	 nav ul li .botao { /*botoes */
		float:none;
        width: 100%;
        display: table-cell;
        vertical-align: center;
        line-height: 1em;
        margin:0 auto; /* centralizar*/
        padding-bottom: 10px ;
        padding: -1em;
        }     

	footer {
        width: 100%;
    }	

    .secao1{
        float: none;
        width: 100%;
    }

    header img {
        margin-left: 10px;
    }

    
  
                                            }