@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;500;700&family=Oswald:wght@300;500;700&display=swap');
:root{
    --color-pink1:#f3cfdd;
    --color-white:#fff;
    --color-pink2:#F39194;
    --color-pink3:rgb(100, 47, 65);
    --color-pink4:rgba(243, 159, 187, 0.719);
    --color-pink5:rgb(192, 91, 125);
    --color-brown1:#957B75;
    --color-brown2:#231918;
    --color-brown3:#4B4241;
    --color-dark1:rgb(70, 70, 70);
    --color-dark2: #090707;
    --color-dark3:#231918;
    --color-dark4:#414535;
    --color-dark5:#79635E;
    --color-gray1:#999999;
    --color-gray2:#ccc;
    --color-gray3:#d6d0c2;
}

* {
    margin: 0; /*distancia da margem para a tag*/
    padding: 0; /*distancia da tag para o conteudo*/
    box-sizing: border-box; 
    text-decoration: none;
}
/*************************************************
*	Página de Projetos  *
*************************************************/
.corpo { 
    background: linear-gradient(68.15deg, var(--color-brown3) 16.62%, var(--color-dark3) 85.61%);
    color: #f3cfdd;
    font-family: 'Oswald', sans-serif;
    margin-left: 3%; /* ajuste de margem no corpo da página*/
    margin-right: 3%;
    font-size: 100%;
}


.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-brown2);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header{
   gap: 3em;/*espaçamento*/
   z-index: 2;
}

.btn_icon_header{
    display: none;
    background-color: transparent;
    border-color: none;
    color:var(--color-pink1);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

 @media screen and  (max-width:768px) {
     .btn_icon_header{
        display:block;
    }

    .navigation_header{
        position: absolute;
        flex-direction: column;
        top:0;
        background-color: var(--color-dark2);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
 }

 @keyframes showSidebar {
    from {margin-left: -100vw;}   
    top {margin-left: -10vw;}
    }


.navigation_header a{
   text-decoration: none;
   color: var(--color-pink2);
   transition: 1s;
   font-family: 'Bebas Neue',cursive;
   letter-spacing: 1px;
 }


 a{
    color: var(--color-pink2);
    transition: 1s;

 }

 a:hover { /*link selecionado*/
    color:var(--color-brown1);
    transition: all 0.25s;
}

 .active {
    background-color: var(--color-brown2);
    padding: 10px;
    border-radius: 10px;
 }

 .imagem-navegacao{
    width: 75px;
}


.cabecalho-pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
    border-bottom:0.1px solid var(--color-dark5);
    gap:30px;
}

.menu-cabecalho{
    display: flex;
    padding:20px;
}

.item-menu-cabecalho{
    color:#d6d0c2;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: all 0.25s;
    font-size: 24px;
}

.item-menu-cabecalho:hover{
    color:var(--color-pink2);    
    -webkit-transition: all 0.25s;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.logo-cabecalho{
    width: 90px;
    border-radius:50px;
}

.conteudo-inicial{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.imagem-projetos{
    width: 15%;
}

.conteudo-imagem-icones{
    width: 40px;
}

.conteudo-projetos{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}

.conteudo-projetos-titulo{
    color: var(--color-pink4);
    text-shadow: 2.5px 2.5px  var(--color-dark2);
    text-align: center;  
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    padding-top: 1em;
    font-size: 250%;
    margin-bottom: 1px;  
}

.conteudo-projetos-subtitulo{
    font-size: 24px;
    color: #d6d0c2;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2.5px 2.5px  var(--color-dark4);
    font-weight: lighter;

}

.conteudo-projetos-imagem{
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}

.conteudo-projeto1{
    display: column;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--color-brown2);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.conteudo-projeto-titulo{
    color:var(--color-brown1);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    font-weight: 700;
    padding: 5px;
}

.conteudo-projeto-paragrafo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    color:var(--color-pink1);

}

.links-conteudo{
    color:#B98C64;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.25s;
    font-weight: 700;
}

.links-conteudo:hover{
    color:#63462C;
    -webkit-transition: all 0.25s;
}


footer{
    display: flex; /* para deixar um do lado do outro*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top:1em;
    padding-bottom: 2em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing:5px;
    font-size: 16px;
    color: var(--color-brown1);
    /*background-color: rgb(78, 28, 43); */
}